# IDE & Caches
.idea/
.gradle/
.kotlin/
*.iml

# Build Outputs
build/
/build
bin/
gen/
.externalNativeBuild/
.cxx/

# Lokale Konfiguration (WICHTIG: enthält oft deinen SDK-Pfad)
local.properties

# OS spezifischer Müll
.DS_Store
Thumbs.db

# Android Studio spezielle Files
/captures/
*.ext
.aider*
